@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.icon-sprite, .icon-12, .icon-gameboss, .icon-t1, .t1, .icon-t10, .t10, .icon-t11, .t11, .icon-t12, .t12, .icon-t2, .t2, .icon-t3, .t3, .icon-t4, .t4, .icon-t5, .t5, .icon-t6, .t6, .icon-t7, .t7, .icon-t8, .t8, .icon-t9, .t9 {
  background-image: url('../images/icon-s01c38c41f6.png');
  background-repeat: no-repeat;
}

.icon-12 {
  background-position: 0 0;
  height: 42px;
  width: 42px;
}

.icon-gameboss {
  background-position: 0 -47px;
  height: 42px;
  width: 42px;
}

.icon-t1, .t1 {
  background-position: 0 -94px;
  height: 72px;
  width: 67px;
}

.icon-t10, .t10 {
  background-position: 0 -171px;
  height: 70px;
  width: 29px;
}

.icon-t11, .t11 {
  background-position: 0 -246px;
  height: 33px;
  width: 630px;
}

.icon-t12, .t12 {
  background-position: 0 -284px;
  height: 148px;
  width: 960px;
}

.icon-t2, .t2 {
  background-position: 0 -437px;
  height: 72px;
  width: 64px;
}

.icon-t3, .t3 {
  background-position: 0 -514px;
  height: 72px;
  width: 64px;
}

.icon-t4, .t4 {
  background-position: 0 -591px;
  height: 72px;
  width: 67px;
}

.icon-t5, .t5 {
  background-position: 0 -668px;
  height: 70px;
  width: 64px;
}

.icon-t6, .t6 {
  background-position: 0 -743px;
  height: 70px;
  width: 65px;
}

.icon-t7, .t7 {
  background-position: 0 -818px;
  height: 70px;
  width: 65px;
}

.icon-t8, .t8 {
  background-position: 0 -893px;
  height: 70px;
  width: 65px;
}

.icon-t9, .t9 {
  background-position: 0 -968px;
  height: 70px;
  width: 65px;
}

/*------------------------------------*\
基本設定
\*------------------------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif;
  font-size: 1em;
  line-height: 1.9em;
  color: #ffffff;
  background-color: #000;
}

a {
  outline: none;
  behavior: expression(this.onFocus=this.blur());
  text-decoration: none;
  color: #a36000;
}
a:hover {
  color: #ff9a0a;
}

input {
  outline: none;
  border: none;
}

img {
  display: block;
}

/*------------------------------------*\
全部頁面共用layout
\*------------------------------------*/
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}

/**
*header區塊內容
**/
header {
  background: url(../images/bg_header.jpg) center top no-repeat;
  height: 85%;
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.snow {
  position: absolute;
  left: 0;
  top: -5%;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  margin-top: .5em;
  max-width: 231px;
  width: 30%;
  height: 100px;
  background: url(../images/logo.png) center top no-repeat;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
}

/*h1*/
.tit {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  max-width: 960px;
  margin: 0 auto;
  background: url(../images/t_all.png) center 100% no-repeat;
  -moz-background-size: 80% auto;
  -o-background-size: 80% auto;
  -webkit-background-size: 80% auto;
  background-size: 80% auto;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 5%;
}
.tit div {
  display: none;
}
@media only screen and (min-width: 480px) {
  .tit {
    background-image: url(../images/t_all-2.png);
    -moz-background-size: 90% auto;
    -o-background-size: 90% auto;
    -webkit-background-size: 90% auto;
    background-size: 90% auto;
  }
}
@media only screen and (min-width: 768px) {
  .tit {
    background: none;
    height: 150px;
    width: 960px;
    left: 50%;
    margin-left: -420px;
    position: absolute;
    bottom: 5%;
  }
  .tit div {
    display: block;
  }
}

.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10, .t11, .t12 {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.out.t1, .out.t2, .out.t3, .out.t4, .out.t5, .out.t6, .out.t7, .out.t8, .out.t9, .out.t10, .out.t11, .out.t12 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10 {
  -moz-transform: scale(2) translate(-600px, -300px) rotate(-360deg);
  -ms-transform: scale(2) translate(-600px, -300px) rotate(-360deg);
  -webkit-transform: scale(2) translate(-600px, -300px) rotate(-360deg);
  transform: scale(2) translate(-600px, -300px) rotate(-360deg);
  z-index: 1;
}
.out.t1, .out.t2, .out.t3, .out.t4, .out.t5, .out.t6, .out.t7, .out.t8, .out.t9, .out.t10 {
  -moz-transform: scale(1) translate(0) rotate(0);
  -ms-transform: scale(1) translate(0) rotate(0);
  -webkit-transform: scale(1) translate(0) rotate(0);
  transform: scale(1) translate(0) rotate(0);
}

.t1 {
  left: 105px;
}

.t2 {
  left: 172px;
}

.t3 {
  left: 236px;
}

.t4 {
  left: 300px;
}

.t5 {
  left: 380px;
}

.t6 {
  left: 444px;
}

.t7 {
  left: 509px;
}

.t8 {
  left: 574px;
}

.t9 {
  left: 639px;
}

.t10 {
  left: 704px;
}

.t11 {
  top: 200px;
  left: 100px;
  z-index: 1;
}
.t11.out {
  top: 105px;
}

.t12 {
  -moz-transform: scaleX(0.1) translateX(-500px);
  -ms-transform: scaleX(0.1) translateX(-500px);
  -webkit-transform: scaleX(0.1) translateX(-500px);
  transform: scaleX(0.1) translateX(-500px);
  z-index: 0;
}
.t12.out {
  -moz-transform: scaleX(1) translateX(0px);
  -ms-transform: scaleX(1) translateX(0px);
  -webkit-transform: scaleX(1) translateX(0px);
  transform: scaleX(1) translateX(0px);
}

/**
*contents區塊內容
*各單元內容顯示區
**/
.content {
  background: #000 url(../images/bg.jpg) center top no-repeat fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

/*參加步驟*/
.step {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.step-group {
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px;
  text-align: center;
}
.step-group li {
  background-color: #000;
  border: 1px solid #000;
  max-width: 330px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.step-group li:last-child {
  margin-bottom: 0;
}
.step-group li img {
  max-width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .step-group {
    padding: 30px 0px;
  }
  .step-group li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 30%;
    vertical-align: top;
    margin-left: 4%;
    margin-bottom: 0;
  }
  .step-group li:first-child {
    margin-left: 0;
  }
}

.step-text {
  padding: 0 20px 20px 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.step-text p {
  color: #999999;
  text-align: left;
  font-style: italic;
}
.step-text hr {
  border-color: #999999;
  border-width: 1px 0 0 0;
}
.step-text input {
  width: 100%;
  padding: 5px;
  font-family: "微軟正黑體";
}
.step-text input[type='button'] {
  cursor: pointer;
  color: #d4d4d4;
  font-size: 1em;
  font-weight: bold;
  background-color: #4267b2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.step-text input[type='button']:hover {
  color: #fff;
  background-color: #4375d9;
}

.btn {
  padding: 10px;
  text-align: center;
}
.btn a {
  margin-bottom: 10px;
  width: 90%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  color: #999999;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.btn a:hover {
  color: #ffffff;
}
@media only screen and (min-width: 480px) {
  .btn a {
    width: 30%;
    max-width: 300px;
    margin-left: 10px;
  }
  .btn a:first-child {
    margin-left: 0;
  }
}
@media only screen and (min-width: 768px) {
  .btn {
    padding-bottom: 30px;
  }
}

.btn-home {
  background-color: #86151d;
}
.btn-home:hover {
  background-color: #b11e28;
}

.btn-fb {
  background-color: #4267b2;
}
.btn-fb:hover {
  background-color: #4375d9;
}

.btn-live {
  background-color: #2e6d07;
}
.btn-live:hover {
  background-color: #4ca317;
}

/*活動說明*/
.activity {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  text-shadow: black 1px 1px 3px;
}
.activity h3 {
  color: #ff9a0a;
  font-style: italic;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.8em;
  border-bottom: 1px solid #d67e00;
  padding-left: .5em;
  margin-top: 1em;
  margin-bottom: .2em;
}
.activity > p {
  padding-left: 1em;
}

.reward {
  background-color: #000;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  /*li*/
}
.reward ul {
  margin-top: 10px;
}
.reward .on {
  color: #ab0c0c;
  text-decoration: line-through;
}
.reward .on:after {
  content: url(../images/icon_t.png);
  line-height: 1.8em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: .5em;
}
@media only screen and (min-width: 768px) {
  .reward ul {
    text-align: center;
  }
}

.reward-tit {
  text-align: center;
  border-bottom: 1px dashed #404040;
}
.reward-tit img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}
.reward-tit span {
  color: #ffaf3d;
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 90%;
  max-width: 400px;
  border: 2px solid #b11e28;
  background-color: #86151d;
  margin: 20px 0px;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px 0px inset;
}

/**
*footer區塊內容
**/
footer {
  background-color: #501010;
  color: #999999;
  line-height: 1.5em;
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}

/*注意事項*/
.notice {
  font-size: .9em;
  max-width: 1100px;
  margin: 0 auto;
  padding: .5em .5em 2em .5em;
  border-bottom: 1px solid #999999;
}
.notice ul {
  list-style: decimal;
  padding-left: 1.5em;
}

.copyrigth {
  font-size: .5em;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  *zoom: 1;
}

.company {
  text-align: left;
  overflow: hidden;
  margin-top: 10px;
}
.company li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 15px;
}

.grade {
  line-height: 1.3em;
  position: absolute;
  top: 10px;
  right: 0px;
}
.grade ul {
  display: none;
}
@media only screen and (min-width: 768px) {
  .grade {
    top: 10px;
  }
  .grade ul {
    display: block;
    float: left;
  }
  .grade .icon-12 {
    float: right;
    margin-left: 10px;
  }
}

/*------------------------------------*\
animate動畫
\*------------------------------------*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-ms-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.animate-fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -ms-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
